<div class="flex">

  <div class="flex flex-1 justify-end ml-20 pt-3">
    <h1 class="text-white text-9xl ">{{!logedIn ? 'Create' : 'Logged'}}</h1>
  </div>
  <div class="flex flex-1 justify-end">
    <button mat-ripple class="signUp bg-white hover:border-2 hover:bg-blue-100 rounded-md text-white pr-3 pl-3 pb-2 pt-2 text-blue-900 mt-3 mr-3"
            (click)="changeSignIn()">{{logedIn ? 'Sign Up' : 'Sign In'}}</button>
  </div>
</div>
<div class="flex justify-center items-center h-full">
  <div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="flex-col mt-3 mb-8">
        <div>
          <h1  class="text-white text-4xl elixir-username">Username</h1>
          <input type="email" id="username" ngModel name="email" required>
        </div>
        <span *ngIf="feedback.email" class="text-red-600 absolute my-1"> * email is not valid</span>
      </div>
      <div class="flex-col mt-3 mb-8">
        <div>
          <h1 class="text-white text-4xl">Password</h1>
          <input type="password" id="password" minlength="6" ngModel name="password" required>
        </div>
        <span *ngIf="feedback.password" class="text-red-600 absolute my-1"> * Password to short</span>
      </div>
      <div class="flex justify-end items-center mt-3">
        <button class="bg-blue-400 hover:border-2 hover:bg-blue-700 rounded-md text-white pr-3 pl-3 pb-2 pt-2"
                [disabled]="!authForm"
                type="submit">
          {{!logedIn ? 'Sign Up' : 'Sign In'}}
        </button>
      </div>
    </form>
  </div>
</div>
