<select (change)="onPageChange($event)">
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
  <option value="250">250</option>
  <option value="500">500</option>
</select>

<elix-spinner *ngIf="spinnerState"></elix-spinner>
<ag-grid-angular
  *ngIf="!spinnerState"
  #agGrid
  style="width: 100%; height: 30rem;"
  id="myGrid"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]="paginationSize"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOption"
></ag-grid-angular>
<router-outlet></router-outlet>

