<div class="bg-blue-700 " [ngClass]="' vorkurt__background-thrid iufce__parrent-header background-' + background">
  <div elixElixDrag class="flex pl-8 justify-center items-center h-16">
    <div class="w-8 h-8 mr-4" [routerLink]="'account'">
      <mat-icon [svgIcon]="'fa_brands:github'" class="iufce__icon " [ngClass]="'colorIcon-'+color"></mat-icon>
    </div>
    <div class="flex flex-1 items-center">
      <input type="text" class="w-1/6 h-7 text-black pl-3"
             [ngClass]="inputValue ? 'iufce__expand-input' :'' "
             (focus)="resizeData($event, true)"
             [(ngModel)]="inputValue"
          (focusout)="resizeData($event, false)"
      >
      <div class="ml-2">
        <h1 class="text-white text-xs" [routerLink]="['account/pull_request']" [ngClass]="'colorIcon-'+color">Pull request</h1>
      </div>
    </div>
    <div class= "flex pr-8">
      <div class="w-5 h-5">
        <mat-icon [svgIcon]="'fa_solid:bell'" class="iufce__icon" [ngClass]="'colorIcon-'+color"></mat-icon>
      </div>
      <div class="w-5 h-5 ml-2">
        <mat-icon [svgIcon]="'fa_solid:plus'" class="iufce__icon" [ngClass]="'colorIcon-'+color"></mat-icon>
      </div>
      <div class="w-5 h-5 ml-2" #pointIcon>
        <mat-icon
                  (click)="retriveCoordinates($event)"
                  [svgIcon]="'fa_solid:user-circle'"
                  class="iufce__icon"
                  [ngClass]="'colorIcon-'+color"></mat-icon>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
